{
    "env": {
        "browser": true,
        "es6": true,
        "amd": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": 1
    },
    "parserOptions": {
        "sourceType": "module"
    }
}